In [18]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [23]:
# Loading data
file = ('Movies.csv')
movies_df = pd.read_csv(file)
print(len(movies_df))
# movies_df = movies_df.dropna()
movies_df.head()
# print(len(movies_df))

16744

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
movies_df.loc[movies_df['IMDb'] >= 7, 'Rating Category'] = '7+'
movies_df.loc[movies_df['IMDb'] < 7, 'Rating Category'] = 'Below 7'

movies_df['Rating Category'].value_counts()

Below 7    2344
7+          957
Name: Rating Category, dtype: int64

In [4]:
le = LabelEncoder()
df2 = movies_df.copy()
df2 = pd.get_dummies(df2, columns=['Age'])
df2['Directors'] = le.fit_transform(df2['Directors'].astype(str))
df2['Genres'] = le.fit_transform(df2['Genres'].astype(str))
df2['Country'] = le.fit_transform(df2['Country'].astype(str))
df2['Language'] = le.fit_transform(df2['Language'].astype(str))
df2['Rating Category'] = le.fit_transform(df2['Rating Category'].astype(str))
df2.head()

,Unnamed: 0,ID,Title,Year,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,...,Genres,Country,Language,Runtime,Rating Category,Age_13+,Age_16+,Age_18+,Age_7+,Age_all
0,0,1,Inception,2010,8.8,87%,1,0,0,0,...,81,490,163,148.0,0,1,0,0,0,0
1,1,2,The Matrix,1999,8.7,87%,1,0,0,0,...,174,401,32,136.0,0,0,0,1,0,0
2,2,3,Avengers: Infinity War,2018,8.5,84%,1,0,0,0,...,80,401,32,149.0,0,1,0,0,0,0
3,3,4,Back to the Future,1985,8.5,96%,1,0,0,0,...,222,401,32,116.0,0,0,0,0,1,0
4,4,5,"The Good, the Bad and the Ugly",1966,8.8,97%,1,0,1,0,...,799,219,347,161.0,0,0,0,1,0,0

In [5]:
df2

,Unnamed: 0,ID,Title,Year,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,...,Genres,Country,Language,Runtime,Rating Category,Age_13+,Age_16+,Age_18+,Age_7+,Age_all
0,0,1,Inception,2010,8.8,87%,1,0,0,0,...,81,490,163,148.0,0,1,0,0,0,0
1,1,2,The Matrix,1999,8.7,87%,1,0,0,0,...,174,401,32,136.0,0,0,0,1,0,0
2,2,3,Avengers: Infinity War,2018,8.5,84%,1,0,0,0,...,80,401,32,149.0,0,1,0,0,0,0
3,3,4,Back to the Future,1985,8.5,96%,1,0,0,0,...,222,401,32,116.0,0,0,0,0,1,0
4,4,5,"The Good, the Bad and the Ugly",1966,8.8,97%,1,0,1,0,...,799,219,347,161.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16657,16657,16658,A Kid in King Arthur's Court,1995,4.7,5%,0,0,0,1,...,207,450,32,89.0,1,0,0,0,1,0
16671,16671,16672,George of the Jungle 2,2003,3.3,17%,0,0,0,1,...,202,403,32,87.0,1,0,0,0,1,0
16677,16677,16678,That Darn Cat,1997,4.7,13%,0,0,0,1,...,450,401,74,116.0,1,0,0,0,1,0
16687,16687,16688,Kazaam,1996,3.0,6%,0,0,0,1,...,514,401,32,93.0,1,0,0,0,1,0
16705,16705,16706,Meet the Deedles,1998,4.1,7%,0,0,0,1,...,510,401,32,93.0,1,0,0,0,1,0

In [6]:
# Set features and target

X = df2.copy()
X = X.drop(['Unnamed: 0', 'ID', 'Title', 'Rotten Tomatoes', 'IMDb', 'Rating Category', 'Type'], axis=1)

display(X.head())

y = df2['Rating Category'].astype(str).ravel()
y

,Year,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Age_13+,Age_16+,Age_18+,Age_7+,Age_all
0,2010,1,0,0,0,437,81,490,163,148.0,1,0,0,0,0
1,1999,1,0,0,0,1425,174,401,32,136.0,0,0,1,0,0
2,2018,1,0,0,0,174,80,401,32,149.0,1,0,0,0,0
3,1985,1,0,0,0,2065,222,401,32,116.0,0,0,0,1,0
4,1966,1,0,1,0,2194,799,219,347,161.0,0,0,1,0,0

array(['0', '0', '0', ..., '1', '1', '1'], dtype=object)

In [7]:
# Splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fitting the data
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [9]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)
rf_model

RandomForestClassifier(n_estimators=128, random_state=1)

In [10]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model

RandomForestClassifier(n_estimators=128, random_state=1)

In [11]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)
predictions

array(['1', '1', '1', '1', '1', '0', '1', '1', '0', '1', '1', '0', '1',
       '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0',
       '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '0', '1',
       '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0',
       '0', '1', '0', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1',
       '0', '1', '1', '1', '1', '1', '0', '1', '1', '0', '1', '1', '0',
       '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '0', '1', '0', '0', '1', '0', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '0',
       '1', '1', '1', '1', '0', '1', '0', '1', '1', '0', '1', '1', '1',
       '1', '1', '1', '0', '0', '1', '1', '1', '0', '1', '1', '0', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1', '0',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1',
       '1', '1', '1', '1', '0', '1', '1', '1', '0', '1', '0', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '0', '0', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '0', '0', '0', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '1', '0',
       '1', '0', '1', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1',
       '1', '0', '1', '1', '0', '1', '1', '0', '1', '1', '1', '1', '1',
       '1', '0', '1', '1', '1', '0', '1', '1', '1', '0', '1', '1', '1',
       '1', '0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '0', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '1', '0', '0', '1', '1', '1', '1', '1', '0', '1',
       '1', '1', '1', '0', '0', '1', '1', '1', '1', '0', '1', '1', '1',
       '1', '1', '0', '1', '1', '1', '1', '0', '1', '1', '0', '1', '1',
       '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '0', '0', '0', '1', '1', '1', '1', '0',
       '0', '1', '1', '1', '0', '1', '1', '1', '1', '1', '0', '0', '1',
       '0', '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '0', '1',
       '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '1', '1', '0',
       '0', '0', '1', '1', '1', '0', '1', '0', '1', '0', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1',
       '1', '1', '1', '1', '0', '1', '1', '0', '1', '0', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1',
       '1', '1', '1', '1', '0', '1', '0', '1', '1', '1', '1', '0', '1',
       '1', '1', '0', '1', '1', '1', '0', '1', '1', '0', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '0',
       '1', '1', '1', '1', '0', '0', '0', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '0', '1', '0', '1', '1', '1',
       '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '0', '1', '1', '1', '1', '0', '1', '1', '0',
       '0', '1', '1', '1', '1', '1', '0', '0', '1', '1', '1', '1', '1',
       '1', '0', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '0', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '0', '1', '0', '0', '1', '1', '1', '1', '1', '1', '0',
       '1', '1', '1', '1', '1', '1', '0', '0', '1', '1', '1', '1', '1',
       '1', '1', '1', '0', '0', '0', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '0', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1', '1',
       '0', '1', '0', '1', '1', '1', '1'], dtype=object)

In [12]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm
# Create a Dataframe from the confusion matrix
cm_df = pd.DataFrame(cm, index=['Actual 7+', 'Actual 7-'], columns=['Predicted 7+', 'Predicted 7-'])

cm_df

           Predicted 7+  Predicted 7-
Actual 7+            88           137
Actual 7-            53           548

In [13]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7699757869249395

In [14]:
# Displaying results
print('Confusion Matrix')
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print('Classification Report')
print(classification_report(y_test, predictions))

Confusion Matrix

           Predicted 7+  Predicted 7-
Actual 7+            88           137
Actual 7-            53           548

Accuracy Score : 0.7699757869249395
Classification Report
              precision    recall  f1-score   support

           0       0.62      0.39      0.48       225
           1       0.80      0.91      0.85       601

    accuracy                           0.77       826
   macro avg       0.71      0.65      0.67       826
weighted avg       0.75      0.77      0.75       826

In [15]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.14853211, 0.01468571, 0.01448214, 0.019175  , 0.00866936,
       0.16452198, 0.20315211, 0.08545324, 0.09173179, 0.19372042,
       0.01268925, 0.00483125, 0.01619075, 0.01334774, 0.00881715])

In [16]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.20315211495642585, 'Genres'),
 (0.19372041519832273, 'Runtime'),
 (0.16452197895129675, 'Directors'),
 (0.14853211125103938, 'Year'),
 (0.0917317895495064, 'Language'),
 (0.0854532431623136, 'Country'),
 (0.019175000342967957, 'Prime Video'),
 (0.016190745142308595, 'Age_18+'),
 (0.014685705994532384, 'Netflix'),
 (0.014482138171961517, 'Hulu'),
 (0.013347743918660853, 'Age_7+'),
 (0.012689249315055141, 'Age_13+'),
 (0.008817149407898073, 'Age_all'),
 (0.008669364010581364, 'Disney+'),
 (0.0048312506271295285, 'Age_16+')]