In [1]:
import pandas as pd
import numpy as np

# import psycopg2
from sqlalchemy import create_engine
from config import db_password

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file = ('Movies.csv')
movies_df = pd.read_csv(file)
updated_imdb = pd.read_csv('updated_imdb.csv')

movies_df = movies_df.drop(columns=['Unnamed: 0', 'ID', 'Type', 'Rotten Tomatoes'])
# movies_df['Year'] = movies_df['Year'].astype(int)


movies_null_IMDb = movies_df[movies_df['IMDb'].isnull()]

updated_titles = updated_imdb['Title'].tolist()
movies_df = movies_df[~movies_df['Title'].isin(updated_titles)]
movies_df = movies_df.append(updated_imdb)
movies_df['IMDb'] = movies_df['IMDb'].fillna(0)
# movies_df = movies_df.dropna()

# movies_df = movies_df.fillna('test')
# print(movies_df.count())
# print(movies_null_IMDb.count())
# movies_null_IMDb.to_csv('Missing_IMDb.csv', index=False)
# movies_null_IMDb.head()

In [3]:
text_cols = ['Directors', 'Genres', 'Country', 'Language']

for col in text_cols:
    movies_df[col] = movies_df[col].fillna('Place Holder')
    movies_df[col] = movies_df[col].astype('str')
    
movies_df = movies_df.dropna()

In [4]:
movies_df

,Title,Year,Age,IMDb,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime
0,Inception,2010.0,13+,8.8,1,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999.0,18+,8.7,1,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018.0,13+,8.5,1,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985.0,7+,8.5,1,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966.0,18+,8.8,1,0,1,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16726,Richie Rich's Christmas Wish,1998.0,all,4.1,0,0,0,1,John Murlowski,"Comedy,Family",United States,English,84.0
16727,The Jungle Book: Mowgli's Story,1998.0,all,4.2,0,0,0,1,Nick Marck,"Adventure,Family",United States,English,77.0
16737,The Bears and I,1974.0,all,6.2,0,0,0,1,Bernard McEveety,"Drama,Family",United States,English,89.0
16738,Whispers: An Elephant's Tale,2000.0,all,5.0,0,0,0,1,Dereck Joubert,"Adventure,Family",United States,English,72.0
16740,The Poof Point,2001.0,7+,4.7,0,0,0,1,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0

In [5]:
movies_df.count()

Title          7256
Year           7256
Age            7256
IMDb           7256
Netflix        7256
Hulu           7256
Prime Video    7256
Disney+        7256
Directors      7256
Genres         7256
Country        7256
Language       7256
Runtime        7256
dtype: int64

In [6]:
movies_df.loc[movies_df['IMDb'] >= 7, 'Rating Category'] = '7+'
movies_df.loc[movies_df['IMDb'] < 7, 'Rating Category'] = 'Below 7'

movies_df['Rating Category'].value_counts()

Below 7    5666
7+         1590
Name: Rating Category, dtype: int64

In [7]:
le = LabelEncoder()
df2 = movies_df.copy()
df2 = pd.get_dummies(df2, columns=['Age'])
df2['Directors'] = le.fit_transform(df2['Directors'].astype(str))
df2['Genres'] = le.fit_transform(df2['Genres'].astype(str))
df2['Country'] = le.fit_transform(df2['Country'].astype(str))
df2['Language'] = le.fit_transform(df2['Language'].astype(str))
df2['Rating Category'] = le.fit_transform(df2['Rating Category'].astype(str))
df2.head()

,Title,Year,IMDb,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Rating Category,Age_13+,Age_16+,Age_18+,Age_7+,Age_all
0,Inception,2010.0,8.8,1,0,0,0,904,124,689,204,148.0,0,1,0,0,0,0
1,The Matrix,1999.0,8.7,1,0,0,0,2961,278,564,51,136.0,0,0,0,1,0,0
2,Avengers: Infinity War,2018.0,8.5,1,0,0,0,335,123,564,51,149.0,0,1,0,0,0,0
3,Back to the Future,1985.0,8.5,1,0,0,0,4297,349,564,51,116.0,0,0,0,0,1,0
4,"The Good, the Bad and the Ugly",1966.0,8.8,1,0,1,0,4568,1232,298,456,161.0,0,0,0,1,0,0

In [8]:
df2

,Title,Year,IMDb,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Rating Category,Age_13+,Age_16+,Age_18+,Age_7+,Age_all
0,Inception,2010.0,8.8,1,0,0,0,904,124,689,204,148.0,0,1,0,0,0,0
1,The Matrix,1999.0,8.7,1,0,0,0,2961,278,564,51,136.0,0,0,0,1,0,0
2,Avengers: Infinity War,2018.0,8.5,1,0,0,0,335,123,564,51,149.0,0,1,0,0,0,0
3,Back to the Future,1985.0,8.5,1,0,0,0,4297,349,564,51,116.0,0,0,0,0,1,0
4,"The Good, the Bad and the Ugly",1966.0,8.8,1,0,1,0,4568,1232,298,456,161.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16726,Richie Rich's Christmas Wish,1998.0,4.1,0,0,0,1,2530,756,564,51,84.0,1,0,0,0,0,1
16727,The Jungle Book: Mowgli's Story,1998.0,4.2,0,0,0,1,3680,386,564,51,77.0,1,0,0,0,0,1
16737,The Bears and I,1974.0,6.2,0,0,0,1,488,1004,564,51,89.0,1,0,0,0,0,1
16738,Whispers: An Elephant's Tale,2000.0,5.0,0,0,0,1,1302,386,564,51,72.0,1,0,0,0,0,1
16740,The Poof Point,2001.0,4.7,0,0,0,1,3639,778,564,51,90.0,1,0,0,0,1,0

In [9]:
# Set features and target

X = df2.copy()
X = X.drop(['Title', 'IMDb', 'Rating Category'], axis=1)

display(X.head())

y = df2['Rating Category'].astype(str).ravel()
y

,Year,Netflix,Hulu,Prime Video,Disney+,Directors,Genres,Country,Language,Runtime,Age_13+,Age_16+,Age_18+,Age_7+,Age_all
0,2010.0,1,0,0,0,904,124,689,204,148.0,1,0,0,0,0
1,1999.0,1,0,0,0,2961,278,564,51,136.0,0,0,1,0,0
2,2018.0,1,0,0,0,335,123,564,51,149.0,1,0,0,0,0
3,1985.0,1,0,0,0,4297,349,564,51,116.0,0,0,0,1,0
4,1966.0,1,0,1,0,4568,1232,298,456,161.0,0,0,1,0,0

array(['0', '0', '0', ..., '1', '1', '1'], dtype=object)

In [10]:
# Splitting into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [11]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fitting the data
X_scaler = scaler.fit(X_train)

# Scaling the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Create a random forest classifier
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)
rf_model

RandomForestClassifier(n_estimators=128, random_state=1)

In [13]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)
rf_model

RandomForestClassifier(n_estimators=128, random_state=1)

In [14]:
# Making predictions using the testing data
predictions = rf_model.predict(X_test_scaled)
predictions

array(['1', '0', '1', ..., '1', '0', '0'], dtype=object)

In [15]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)
cm
# Create a Dataframe from the confusion matrix
cm_df = pd.DataFrame(cm, index=['Actual 7+', 'Actual 7-'], columns=['Predicted 7+', 'Predicted 7-'])

cm_df

           Predicted 7+  Predicted 7-
Actual 7+           111           281
Actual 7-            87          1335

In [16]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.7971334068357222

In [17]:
# Displaying results
print('Confusion Matrix')
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print('Classification Report')
print(classification_report(y_test, predictions))

Confusion Matrix

           Predicted 7+  Predicted 7-
Actual 7+           111           281
Actual 7-            87          1335

Accuracy Score : 0.7971334068357222
Classification Report
              precision    recall  f1-score   support

           0       0.56      0.28      0.38       392
           1       0.83      0.94      0.88      1422

    accuracy                           0.80      1814
   macro avg       0.69      0.61      0.63      1814
weighted avg       0.77      0.80      0.77      1814

In [18]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.14584928, 0.01433229, 0.00982597, 0.02079652, 0.00749437,
       0.17165764, 0.20891733, 0.08078961, 0.07473877, 0.20802754,
       0.01262298, 0.0055621 , 0.01661235, 0.01315757, 0.00961568])

In [19]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.20891733301290702, 'Genres'),
 (0.208027544046891, 'Runtime'),
 (0.17165764305251124, 'Directors'),
 (0.14584928071915154, 'Year'),
 (0.08078961051684992, 'Country'),
 (0.07473877067513854, 'Language'),
 (0.020796515744020885, 'Prime Video'),
 (0.016612354726762656, 'Age_18+'),
 (0.014332286261434134, 'Netflix'),
 (0.013157569759667195, 'Age_7+'),
 (0.01262297525201353, 'Age_13+'),
 (0.009825968714022347, 'Hulu'),
 (0.009615679662806053, 'Age_all'),
 (0.00749436614483826, 'Disney+'),
 (0.0055621017109856894, 'Age_16+')]

In [20]:

    
movie_platforms = movies_df[['Title', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']]

years_cntry = df2[['Title', 'Year', 'Country']]


movie_age_rating = df2[['Title', 'Age_13+', 'Age_16+', 'Age_18+', 'Age_7+', 'Age_all']]

drts_gnrs_rntm = movies_df[['Title', 'Directors', 'Genres', 'Runtime']] 

drts_gnrs_rntm_encoded = df2[['Title', 'Directors', 'Genres', 'Runtime']] 

df_list = [movie_platforms, years_cntry, movie_age_rating, drts_gnrs_rntm, drts_gnrs_rntm_encoded]

for df in df_list:
    df.columns = df.columns.str.lower()

years_cntry

                                 title    year  country
0                            Inception  2010.0      689
1                           The Matrix  1999.0      564
2               Avengers: Infinity War  2018.0      564
3                   Back to the Future  1985.0      564
4       The Good, the Bad and the Ugly  1966.0      298
...                                ...     ...      ...
16726     Richie Rich's Christmas Wish  1998.0      564
16727  The Jungle Book: Mowgli's Story  1998.0      564
16737                  The Bears and I  1974.0      564
16738     Whispers: An Elephant's Tale  2000.0      564
16740                   The Poof Point  2001.0      564

[7256 rows x 3 columns]

In [21]:
movie_platforms.reset_index()

,index,title,netflix,hulu,prime video,disney+
0,0,Inception,1,0,0,0
1,1,The Matrix,1,0,0,0
2,2,Avengers: Infinity War,1,0,0,0
3,3,Back to the Future,1,0,0,0
4,4,"The Good, the Bad and the Ugly",1,0,1,0
...,...,...,...,...,...,...
7251,16726,Richie Rich's Christmas Wish,0,0,0,1
7252,16727,The Jungle Book: Mowgli's Story,0,0,0,1
7253,16737,The Bears and I,0,0,0,1
7254,16738,Whispers: An Elephant's Tale,0,0,0,1
7255,16740,The Poof Point,0,0,0,1

In [22]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5433/movies_analysis"
engine = create_engine(db_string)
movies_df.to_sql(name='movies_data', con=engine, if_exists='replace')
years_cntry.to_sql(name='years_countries', con=engine, if_exists='replace')
movie_platforms.to_sql(name='platforms', con=engine, if_exists='replace')
movie_age_rating.to_sql(name='age_ratings', con=engine, if_exists='replace')
drts_gnrs_rntm.to_sql(name='impt_cols', con=engine, if_exists='replace')
drts_gnrs_rntm_encoded.to_sql(name='impt_cols_encoded', con=engine, if_exists='replace')